my-app {
  padding: 0px;
  margin: 0px;
}

/*

  Estilos para DIV

*/
.ltr {
  background-color: ;
  width: 20vw;
  height: 50vh;
}
.div {
  height: 20vh;
  width: 100vw;
  background-color: ;
}
.pos {
  height: 55vh;
  width: 66vw;
  background-color: rgb(162, 240, 162);
  box-shadow: 0px 5px rgba(104, 207, 84, 0.616);
  border-radius: 30px;
}
.mod {
  background-color: ;
  height: 55vh;
  width: 100vw;
  display: inline-flex;
}

/*

 Estilos Button

*/
.buttonLogin {
  height: 10%;
  width: 75%;
  border-radius: 10px;
  font-size: 20px;
  display: block;
}
.color {
  background-color: rgb(211, 241, 211);
  border: 0;
}
.color:hover {
  background-color: rgb(133, 216, 216);
}
.position {
  margin: 0 auto;
}
.can {
  background-color: brown;
  margin-top: 5px;
}

/*

 Estilos Input

*/
.inputD {
  height: 10%;
  width: 290px;
  outline: none;
  display: block;
  margin: 0 auto;
  background-color: rgba(240, 248, 255, 0.932);
  border: 0;
  font-size: 15px;
}
.iconoInput {
  color: #e8e8e8;
  font-size: 15px;
  left: 25px;
  padding-top: 10px;
}
.inputPadding {
  padding-left: 40px;
}
