<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="body">
  <div class="div"></div>
  <div class="mod">
    <div class="ltr"></div>
    <div class="div pos">
      <div class="divContentUser">
        <div class="imgDIV"><img src="https://i.postimg.cc/T1h3nJ6z/image-User-Verde.png" class="imgUser"/></div>
        <i class="glyphicon glyphicon-user iconoInput"></i>
      </div>
      <div class="divContentInput">
        <component-input text='User ID' clase='inputD inputC inputUser inputPadding'></component-input>
        <div class="line"></div>
        <component-input tipo="password" text='Password' clase='inputD inputC inputPassword inputPadding'>
        </component-input>
        <div class="line"></div>
      </div>
      <div class="divContentButton">
        <component-input tipo='button' val='Entrar' clase='buttonLogin buttonDow position color'></component-input>
      </div>
    </div>
    <div class="ltr"></div>
  </div>
  <div class="div"></div>
  <comment-Frame></comment-Frame>
</div>