my-app {
  padding: 0px;
  margin: 0px;
}

p {
  font-family: Lato;
}

.input {
  height: 25px;
  width: 290px;
  outline: none;
}

.div {
  height: 20vh;
  width: 100vw;
  background-color: aqua;
}

.pos {
  height: 60vh;
  background-color: blueviolet;
}
