my-app {
  padding: 0px;
  margin: 0px;
}

p {
  font-family: Lato;
}

.ltr {
  background-color: ;
  width: 20vw;
  height: 50vh;
}

.input {
  height: 25px;
  width: 290px;
  outline: none;
}

.div {
  height: 20vh;
  width: 100vw;
  background-color: ;
}

.pos {
  height: 55vh;
  width: 66vw;
  background-color: blueviolet;
  border-radius: 30px;
}

.mod {
  background-color: ;
  height: 55vh;
  width: 100vw;
  display: inline-flex;
}
