<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




<div class="div"></div>
<div class="mod">
  <div class="ltr"></div>
  <div class="div pos">

    <i class="glyphicon glyphicon-user iconoInput"></i>
    <component-input text='User ID' clase='inputD inputPadding'></component-input>

    <component-input text='Password' clase='inputD inputPadding'></component-input>

    <component-input tipo='button' val='Entrar' clase='buttonLogin position color'></component-input>



  </div>
  <div class="ltr"></div>
</div>
<div class="div"></div>