<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="div"></div>
<div class="mod">
  <div class="ltr"></div>
  <div class="div pos">
    <i>home</i>
    <component-input text='User' clase='input inputPadding iconoInput'></component-input>

    <component-input text='Password' clase='input inputPadding iconoInput'></component-input>

    <component-input tipo='button' val='Entrar' clase='button add'></component-input>


  </div>
  <div class="ltr"></div>
</div>
<div class="div"></div>